$liens-padding: 0.625em;
$liens-margin: 68.750em;
$liens-decoration: none;
$liens-color: black;
$text-align: center;
$h1-font: Helvetica, sans-serif;
$h1-color: #484848;
$h1-size: 4.375em;
$h4-font: Circular;
$h4-color: inherit;
$h4-font-weight: lighter;
$new-rond: 0.088em solid grey;
$search-margin-right: 12.500em;
$pic-margin: 0.625em;
$margin-left-img: 12.500em;
$border-tab: 0.063em grey solid;
$primary-font: Helvetica,Arial,sans-serif;
$input-border: 0.063em solid grey;
$line-border: 0.125em solid grey;
$lien-login: white;